<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>書籍を新規登録</title>
</head>
<body>
    <div th:replace="./header::header"></div>

    <div class="container">
        <h1>書籍を新規登録</h1>
        <div class="sub-container">
            <form action="/bookinfo/add" method="get">
                <table border="1">
                    <tr>
                        <th>書籍名</th>
                        <td><input type="text" name="book_name" required></td>
                    </tr>
                    <tr>
                        <th>著者</th>
                        <td><input type="text" name="book_author" required></td>
                    </tr>
                    <tr>
                        <th>カテゴリ</th>
                        <td>
                            <select name="category_id" required>
                                <option>---</option>
                                <option th:each="category:${categories}" 
                                th:value="${category.id}" 
                                th:selected="${category.id == id}" 
                                th:lnline="text">[[${category.name}]]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>所蔵する図書館</th>
                        <td>
                            <select name="library_id" required>
                                <option>---</option>
                                <option th:each="library:${libraries}" 
                                th:value="${library.id}" 
                                th:selected="${library.id == id}" 
                                th:lnline="text">[[${library.name}]]</option>
                            </select>
                        </td>
                    </tr>
                </table>     
                <input type="submit" value="新規登録" class="btn-submit">
            </form>
        </div>
    </div>
</body>
</html>