<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>書籍情報を更新</title>
</head>
<body>
    <div th:replace="./header::header"></div>

    <div class="container">
        <h1><a href="">書籍情報を更新</a></h1>
        <div class="sub-container">
            <p th:text="${message}" style="color: red;"></p>
            <form action="/bookinfo/update" method="get">
                <table>
                    <tr>
                        <th>書籍ID</th>
                        <td>
                            <input type="text" name="bookinfo_id" th:value="${bookinfo.id}" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th>書籍名</th>
                        <td>
                            <input type="text" name="book_name" th:value="${bookinfo.name}">
                        </td>
                    </tr>
                    <tr>
                        <th>著者</th>
                        <td>
                            <input type="text" name="book_author" th:value="${bookinfo.author}">
                        </td>
                    </tr>
                    <tr>
                        <th>カテゴリ</th>
                        <td>
                            <select name="category_id" required>
                                <option value="">---</option>
                                <option th:each="category:${categories}"  
                                    th:value="${category.id}" 
                                    th:selected="${bookinfo.category == category.name}"
                                    th:lnline="text">[[${category.name}]]
                                </option>  
                            </select>   
                        </td>
                    </tr>
                </table>
                <input type="submit" value="更新" class="btn-submit">
            </form>
        </div>

</body>
</html>